.a_promoted_banner{
    background-size: cover !important;
    width: 100%;
    background-repeat: no-repeat !important;
    background-position: center !important;
    
}
.a_promoted_banner_main_forground {
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.9529061624649859) 20%, rgba(0,0,0,0.4) 100%);
  
  }
  .a_promoted_banner_main_forground .a_img_box {
    height: 408px;
    width: 272px;
    padding: 15px;
  }
  