.a_solutions  {
    letter-spacing: 2px;
    font-weight: 400;
  }
  .a_solutions {
    padding: 0 !important;
  }
  .a_solutions .a_card {
    height: 500px;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }